<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace命名空间，作用就是对sql进行分类化管理，理解sql隔离 
注意：使用mapper代理方法开发，namespace有特殊重要的作用，namespace等于mapper接口地址
-->
<mapper namespace="cn.com.iherpai.core.storage.mybatis.mapper.AccountMapper">

	<resultMap type="cn.com.iherpai.core.storage.mybatis.orm.Account" id="AccountFldsDefault">
		<id property="id" 					column="id" />
	    <result property="nid" 				column="nid" />
	    <result property="sid" 				column="sid" />
	    <result property="username" 		column="username" />
	    <result property="password" 		column="password" />
	    <result property="question" 		column="question" />
	    <result property="answer" 			column="answer" />
	    <result property="mailbox" 			column="mailbox" />
	    <result property="wxOpenid" 		column="wx_openid" />
	    <result property="wxSessionkey" 	column="wx_sessionkey" />
	    <result property="wxUnionid" 		column="wx_unionid" />
	    <result property="wxNickname" 		column="wx_nickname" />
	    <result property="wxAvatar" 		column="wx_avatar" />
	    <result property="wxGender" 		column="wx_gender" />
	    <result property="wxCity" 			column="wx_city" />
	    <result property="wxCountry" 		column="wx_country" />
	    <result property="wxProvince" 		column="wx_province" />
	    <result property="wxLanguage" 		column="wx_language" />
	    <result property="type" 			column="type" />
	    <result property="grade" 			column="grade" />
	    <result property="phone" 			column="phone" />
	    <result property="score" 			column="score" />
	    <result property="level" 			column="level" />
	    <result property="createTime" 		column="create_time" />
	    <result property="status" 			column="status" />
	</resultMap>


	<sql id="queryCommon">
		<if test="id != null">
			AND id = #{id} 
		</if>
		<if test="nid != null">
			AND nid = #{nid} 
		</if>
		<if test="sid != null">
			AND sid = #{sid} 
		</if>
		<if test="username != null">
			AND username = #{username} 
		</if>
		<if test="password != null">
			AND password = #{password} 
		</if>
		<if test="question != null">
			AND question = #{question} 
		</if>
		<if test="answer != null">
			AND answer = #{answer} 
		</if>
		<if test="mailbox != null">
			AND mailbox = #{mailbox} 
		</if>
		<if test="wxOpenid != null">
			AND wx_openid = #{wxOpenid} 
		</if>
		<if test="wxSessionkey != null">
			AND wx_sessionkey = #{wxSessionkey} 
		</if>
		<if test="wxUnionid != null">
			AND wx_unionid = #{wxUnionid} 
		</if>
		<if test="wxNickname != null">
			AND wx_nickname LIKE "%"#{wxNickname}"%" 
		</if>
		<if test="wxAvatar != null">
			AND wx_avatar = #{wxAvatar} 
		</if>
		<if test="wxGender != null">
			AND wx_gender = #{wxGender} 
		</if>
		<if test="wxCity != null">
			AND wx_city LIKE "%"#{wxCity}"%" 
		</if>
		<if test="wxProvince != null">
			AND wx_province = #{wxProvince} 
		</if>
		<if test="wxCountry != null">
			AND wx_country = #{wxCountry} 
		</if>
		<if test="wxLanguage != null">
			AND wx_language = #{wxLanguage} 
		</if>
		<if test="type != null">
			AND type = #{type} 
		</if>
		<if test="grade != null">
			AND grade = #{grade} 
		</if>
		<if test="phone != null">
			AND phone = #{phone} 
		</if>
		<if test="score != null">
			AND score = #{score} 
		</if>
		<if test="scoreMin != null">
			<![CDATA[				
			AND score >= #{scoreMin} 
			]]> 
		</if>
		<if test="scoreMax != null">
			<![CDATA[				
			AND score < #{scoreMax} 
			]]> 
		</if>
		<if test="level != null">
			AND level = #{level} 
		</if>
		<if test="levelMin != null">
			<![CDATA[				
			AND level >= #{levelMin} 
			]]> 
		</if>
		<if test="levelMax != null">
			<![CDATA[				
			AND level < #{levelMax} 
			]]> 
		</if>
		<if test="status != null">
			AND status = #{status} 
		</if>
		<if test="statusMin != null">
			<![CDATA[				
			AND status >= #{statusMin} 
			]]> 
		</if>
		<if test="statusMax != null">
			<![CDATA[				
			AND status < #{statusMax} 
			]]> 
		</if>
	</sql>
	
		
	<sql id="modifyFields">
		<if test="password != null">
			password = #{password},
		</if>
		<if test="question != null">
			question = #{question},
		</if>
		<if test="answer != null">
			answer = #{answer},
		</if>
		<if test="mailbox != null">
			mailbox = #{mailbox},
		</if>
		<if test="grade != null">
			grade = #{grade},
		</if>
		<if test="phone != null">
			phone = #{phone},
		</if>
		<if test="score != null">
			score = #{score},
		</if>
		<if test="level != null">
			level = #{level},
		</if>
		<if test="status != null">
			status = #{status},
		</if>
	</sql>
	
		
	<sql id="updateFields">
		<if test="password != null">
			password = #{password},
		</if>
		<if test="phone != null">
			phone = #{phone},
		</if>
		<if test="score != null">
			score = #{score},
		</if>
		<if test="grade != null">
			grade = #{grade},
		</if>
		<if test="level != null">
			level = #{level},
		</if>
		<if test="status != null">
			status = #{status},
		</if>
	</sql>
	

	<!-- 
	1. 注册 [regist]
	2. 添加 [add] <M>
	3. 删除  by id [remove] <M>
	4. 删除  by sid [remove] <M>
	5. 删除  by condi [remove] <M>
	6. 修改 [modify] 
	7. 更新 [update] <M>
	8. 获取 [get] 
	9. 登录时获取[getOnLogin]
	-->


	<!-- START: [1] 注册 -->
	<insert id="regist" parameterType="Account">
		INSERT INTO account(
			nid, sid, 
			username, password, question, answer, mailbox, 
			wx_openid, wx_sessionkey, wx_unionid, wx_nickname, wx_avatar, wx_gender,
			wx_city, wx_country, wx_province, wx_language, 
			type, grade, phone, score, level, create_time, status
		) VALUES (
			#{nid}, #{sid}, 
			#{username}, #{password}, #{question}, #{answer}, #{mailbox}, 
			#{wxOpenid}, #{wxSessionkey}, #{wxUnionid}, #{wxNickname}, #{wxAvatar}, #{wxGender}, 
			#{wxCity}, #{wxCountry}, #{wxProvince}, #{wxLanguage}, 
			#{type}, #{grade}, #{phone}, #{score}, #{level}, #{createTime}, #{status}
		)
	</insert>
	<!-- END: [1] 注册 -->


	<!-- START: [2] 添加 <M> -->
	<insert id="add" parameterType="Account">
		INSERT INTO account(
			nid, sid,
			username, password, question, answer, mailbox, 
			wx_openid, wx_sessionkey, wx_unionid, wx_nickname, wx_avatar, wx_gender,
			wx_city, wx_country, wx_province, wx_language, 
			type, grade, phone, score, level, create_time, status
		) VALUES (
			#{nid}, #{sid}, 
			#{username}, #{password}, #{question}, #{answer}, #{mailbox}, 
			#{wxOpenid}, #{wxSessionkey}, #{wxUnionid}, #{wxNickname}, #{wxAvatar}, #{wxGender}, 
			#{wxCity}, #{wxCountry}, #{wxProvince}, #{wxLanguage}, 
			#{type}, #{grade}, #{phone}, #{score}, #{level}, #{createTime}, #{status}
		)
	</insert>
	<!-- END: [2] 添加 <M> -->	
	
	
	<!-- START: [5] 删除 by condi <M> -->
	<delete id="remove" parameterType="java.util.HashMap">
		DELETE 
		FROM 
			account 
		WHERE
			1=1 AND 
			${conditions}
	</delete>
	<!-- END: [5] 删除 by condi <M> -->	
	
	
	<!-- START: [6] 修改 -->
	<update id="update" parameterType="java.util.HashMap">
		UPDATE 
			account 
		<set>
			<include refid="updateFields"/>
		</set>
		WHERE
			1=1 AND 
			${conditions}
	</update>
	<!-- END: [6] 修改 -->


	<!-- START: [8] 查询 -->
	<select id="get" parameterType="java.util.HashMap" resultMap="AccountFldsDefault">
		SELECT 
			${fields} 
		FROM 
			account 
		WHERE
			1=1 AND 
			${conditions}
	</select>
	<!-- END: [8] 查询 -->
	
	
	<select id="getCount" parameterType="java.util.HashMap" resultType="int">
		SELECT 
			count(sid)
		FROM 
			account 
		WHERE
			1=1 AND 
			${conditions}
	</select>
	
	
	<select id="list" parameterType="java.util.HashMap" resultMap="AccountFldsDefault">
		SELECT 
			t.${fields}
		FROM
			account t 
		INNER JOIN 
			(
				SELECT x.sid from account x 
				WHERE 1=1 AND ${conditions} 
				LIMIT #{pageOff}, #{pageSize}
			) 
			AS p 
			ON t.sid = p.sid 
			${orderBy}
	</select>
	
	
	
	
	
</mapper>