<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace命名空间，作用就是对sql进行分类化管理，理解sql隔离 
注意：使用mapper代理方法开发，namespace有特殊重要的作用，namespace等于mapper接口地址
-->
<mapper namespace="cn.com.iherpai.core.storage.mybatis.mapper.DictMapper">

	<resultMap type="cn.com.iherpai.core.storage.mybatis.orm.Dict" id="DictFldsDefault">
		<id property="id" 					column="id" />
	    <result property="nid" 				column="nid" />
	    <result property="sid" 				column="sid" />
	    <result property="dictGroupId" 		column="dict_group_id" />
	    <result property="dictGroupNid" 	column="dict_group_nid" />
	    <result property="dictGroupSid" 	column="dict_group_sid" />
	    <result property="code" 			column="code" />
	    <result property="name" 			column="name" />
	    <result property="constCode" 		column="const_code" />
	    <result property="constType" 		column="const_type" />
	    <result property="constValue" 		column="const_value" />
	    <result property="constText" 		column="const_text" />
	    <result property="sortno" 			column="sortno" />
	    <result property="description" 		column="description" />
	    <result property="createTime" 		column="create_time" />
	    <result property="status" 			column="status" />
	</resultMap>

	<sql id="queryCommon">
		<if test="id != null">
			AND id = #{id} 
		</if>
		<if test="nid != null">
			AND nid = #{nid} 
		</if>
		<if test="sid != null">
			AND sid = #{sid} 
		</if>
		<if test="dictGroupId != null">
			AND dict_group_id = #{dictGroupId} 
		</if>
		<if test="dictGroupNid != null">
			AND dict_group_nid = #{dictGroupNid} 
		</if>
		<if test="dictGroupSid != null">
			AND dict_group_sid = #{dictGroupSid} 
		</if>
		<if test="code != null">
			AND code = #{code} 
		</if>
		<if test="name != null">
			AND name = #{name} 
		</if>
		<if test="constCode != null">
			AND const_code = #{constCode} 
		</if>
		<if test="constType != null">
			AND const_type = #{constType} 
		</if>
		<if test="constValue != null">
			AND const_value = #{constValue} 
		</if>
		<if test="constText != null">
			AND const_text = #{constText} 
		</if>
		<if test="sortno != null">
			AND sortno = #{sortno} 
		</if>
		<if test="description != null">
			AND description LIKE "%"#{description}"%" 
		</if>
		<if test="status != null">
			AND status = #{status} 
		</if>
		<if test="statusMin != null">
			<![CDATA[				
			AND status >= #{statusMin} 
			]]> 
		</if>
		<if test="statusMax != null">
			<![CDATA[				
			AND status < #{statusMax} 
			]]> 
		</if>
	</sql>
	
	
	
	<sql id="updateFields">
		<if test="_name != null">
			name = #{_name} ,
		</if>
		<if test="_code != null">
			code = #{_code} ,
		</if>
		<if test="_constCode != null">
			const_code = #{_constCode} ,
		</if>
		<if test="_constType != null">
			const_type = #{_constType} ,
		</if>
		<if test="_constValue != null">
			const_value = #{_constValue} ,
		</if>
		<if test="_constText != null">
			const_text = #{_constText} ,
		</if>
		<if test="_sortno != null">
			sortno = #{_sortno} ,
		</if>
		<if test="_description != null">
			description = #{_description} ,
		</if>
		<if test="_status != null">
			status = #{_status} , 
		</if>
	</sql>
	



	<insert id="add" parameterType="cn.com.iherpai.core.storage.mybatis.orm.Dict">
		INSERT INTO account(
			nid, sid, 
			dict_group_id, dict_group_nid, dict_group_sid, 
			code, name, 			
			const_code,	const_type, const_value, const_text, sortno, description, 
			create_time, status
		) VALUES (
			#{nid},	#{sid},
			#{dict_group_id}, #{dict_group_nid}, #{dict_group_sid}, 
			#{code}, #{name}, 
			#{const_code}, #{const_type}, #{const_value}, #{const_text}, #{sortno},	#{description}, 
			#{create_time}, #{status}
		)
	</insert>
		
	
	
	<delete id="remove" parameterType="java.util.HashMap">
		DELETE 
		FROM 
			dict 
		<where>
			<include refid="queryCommon"/>
		</where>
	</delete>
		
	
	
	<delete id="removeIn" parameterType="java.util.HashMap">
		DELETE 
		FROM 
			dict 
		<where>
			sid IN (#{sids}) 
		</where>
	</delete>
	
	
	
	<update id="update" parameterType="java.util.HashMap">
		UPDATE 
			dict
		<set>
			<include refid="updateFields"/>
		</set>
		<where>
			<include refid="queryCommon"/>
		</where>
	</update>
	
	
	
	<select id="get" parameterType="java.util.HashMap" resultMap="DictFldsDefault">
		SELECT 
			${fields} 
		FROM 
			dict 
		<where>
			<include refid="queryCommon"/>
		</where>
	</select>
	
	
	
	<select id="getCount" parameterType="java.util.HashMap" resultType="int">
		SELECT 
			count(id)
		FROM 
			dict 
		<where>
			<include refid="queryCommon"/>
		</where>
	</select>
	
	
	<select id="list" parameterType="java.util.HashMap" resultType="cn.com.iherpai.core.storage.mybatis.orm.Dict">
		SELECT 
			${fields}
		FROM
			dict
		<where>
			<include refid="queryCommon"/>
		</where>
	</select>
	
	
	
	<select id="listByDictGroupId" parameterType="java.util.HashMap" resultType="cn.com.iherpai.core.storage.mybatis.orm.Dict">
		SELECT 
			* 
		FROM 
			dict 
		WHERE
			dict_group_id = #{dictGroupId}
	</select>
	
	
	
</mapper>