<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace命名空间，作用就是对sql进行分类化管理，理解sql隔离 
注意：使用mapper代理方法开发，namespace有特殊重要的作用，namespace等于mapper接口地址
-->
<mapper namespace="cn.com.iherpai.core.storage.mybatis.mapper.StoreMapper">

	<sql id="queryCommon">
		<if test="id != null">
			AND id = #{id} 
		</if>
		<if test="sid != null">
			AND sid = #{sid} 
		</if>
		<if test="serialId != null">
			AND serialId = #{serialId} 
		</if>
		<if test="mid != null">
			AND mid = #{mid} 
		</if>
		<if test="merchant_id != null">
			AND merchant_id = #{merchantId} 
		</if>
		<if test="aid != null">
			AND aid = #{aid} 
		</if>
		<if test="account_id != null">
			AND account_id = #{accountId} 
		</if>
		<if test="cid != null">
			AND cid = #{cid} 
		</if>
		<if test="category_id != null">
			AND category_id = #{categoryId} 
		</if>
		<if test="name != null">
			AND name = #{name} 
		</if>
		<if test="code != null">
			AND code = #{code} 
		</if>
		<if test="intro != null">
			AND intro = #{intro} 
		</if>
		<if test="wx_lantitude != null">
			AND wx_lantitude = #{wxLantitude} 
		</if>
		<if test="wx_longitude != null">
			AND wx_longitude = #{wxLongitude} 
		</if>
		<if test="status != null">
			AND status = #{status} 
		</if>
		<if test="status_min != null">
			<![CDATA[				
			AND status >= #{status_min} 
			]]> 
		</if>
		<if test="status_max != null">
			<![CDATA[				
			AND status < #{status_max} 
			]]> 
		</if>
	</sql>
	
	
	
	<sql id="updateFields">
		<if test="name != null">
			name = #{name} ,
		</if>
		<if test="code != null">
			code = #{code} ,
		</if>
		<if test="intro != null">
			intro = #{intro} ,
		</if>
		<if test="wx_latitude != null">
			wx_latitude = #{wxLatitude} ,
		</if>
		<if test="wx_longitude != null">
			wx_longitude = #{wxLongitude} ,
		</if>
		<if test="status != null">
			status = #{status} , 
		</if>
	</sql>
	



	<insert id="add" parameterType="cn.com.iherpai.core.storage.mybatis.orm.Store">
		INSERT INTO account(
			sid,
			serialId,
			mid,
			merchant_id,
			aid,
			account_id,
			cid,
			category_id,
			name,
			code, 
			intro,
			wx_latitude, 
			wx_longitude,
			createTime,
			status
		) VALUES (
			#{sid},
			#{serialId},
			#{mid},
			#{merchantId},
			#{aid},
			#{accountId},
			#{cid},
			#{categoryId},
			#{name},
			#{code},
			#{intro},
			#{wx_latitude},
			#{wx_longitude},
			#{createTime},
			#{status}
		)
	</insert>
	
	
	
	<delete id="removeById" parameterType="string">
		DELETE 
		FROM 
			store 
		WHERE 
			id = #{id}
	</delete>
	
	
	
	<delete id="removeByCode" parameterType="string">
		DELETE 
		FROM 
			store 
		WHERE 
			code = #{code}
	</delete>
	
	
	
	<delete id="remove" parameterType="java.util.HashMap">
		DELETE 
		FROM 
			store 
		<where>
			<include refid="queryCommon"/>
		</where>
	</delete>
	
	
	
	<update id="update" parameterType="java.util.HashMap">
		UPDATE 
			store
		<set>
			<include refid="updateFields"/>
		</set>
		<where>
			<include refid="queryCommon"/>
		</where>
	</update>
	
	
	
	<select id="get" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT 
			${fields} 
		FROM 
			store 
		<where>
			<include refid="queryCommon"/>
		</where>
	</select>
	
	
	
	<select id="getCount" parameterType="java.util.HashMap" resultType="long">
		SELECT 
			count(id)
		FROM 
			store 
		<where>
			<include refid="queryCommon"/>
		</where>
	</select>
	
	
	<select id="list" parameterType="java.util.HashMap" resultType="cn.com.iherpai.core.storage.mybatis.orm.Store">
		SELECT 
			${fields}
		FROM
			store
		<where>
			<include refid="queryCommon"/>
		</where>
	</select>
	
	
	
	<select id="listByMerchantId" parameterType="java.util.HashMap" resultType="cn.com.iherpai.core.storage.mybatis.orm.Store">
		SELECT 
			* 
		FROM 
			store 
		WHERE
			merchant_id = #{merchantId}
	</select>
	
	
	
</mapper>